@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  scroll-behavior: smooth;
}

.layout {
  background-color: #1a1a1a;
  max-width: 1300px;
  margin: auto;
  color: white;
}

.sideBar {
  width: 250px;
  height: 100vh;
  background-color: #00031a;
  position: fixed;
  color: black;
  z-index: 9999;
  padding: 10px;
  transition: 0.5s all;
}
.sideBar .bar {
  position: absolute;
  right: -60px;
  background-color: #30CB0E;
  padding: 3px 10px;
  display: none;
}
.sideBar .bar i {
  font-size: 40px;
}
.sideBar .menu a {
  text-decoration: none;
}
.sideBar .social {
  position: absolute;
  bottom: 0;
}
.sideBar .social a {
  color: white;
  text-decoration: none;
}

.content {
  margin-left: 250px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1300px;
}
.home h1 {
  color: #30CB0E;
  font-size: bold;
  font-size: 4rem;
  margin: 20px 0;
  word-wrap: break-word;
  margin-top: 70px;
}
.home p {
  margin: 20px 0;
}
.home button {
  background-color: #30CB0E;
  border: 1px solid #30CB0E;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 20px 0;
}
.home button a {
  color: black;
  text-decoration: none;
}
.home button:hover {
  color: #30CB0E;
  background-color: black;
  border: 1px solid #30CB0E;
}
.home button:hover a {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.about h1 {
  color: #30CB0E;
  text-decoration: underline;
}

.Certifications {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  position: relative;
}
.Certifications div {
  min-height: 270px;
  max-width: 300px;
  margin: 5px;
}
.Certifications div a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: #30CB0E;
  border: 1px solid #30CB0E;
  padding: 10px 20px;
  font-size: 1rem;
}
.Certifications div a:hover {
  color: #30CB0E;
  background-color: black;
  border: 1px solid #30CB0E;
}

.skils {
  padding: 10px;
}
.skils h1 {
  color: #30CB0E;
  text-decoration: underline;
}
.skils .Myskils {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.skils .Myskils div {
  border: 2px solid gray;
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #d4d4d4;
}
.skils .Myskils div:hover {
  border: 5px solid #30CB0E;
}

.portfolio {
  padding: 10px;
  color: black;
}
.portfolio h1 {
  color: #30CB0E;
  text-decoration: underline;
}
.portfolio .port {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.portfolio .port div {
  margin: 5px;
  max-width: 300px;
}

.contact {
  padding: 10px;
}
.contact h1 {
  color: #30CB0E;
  text-decoration: underline;
}
.contact .contactUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 70px;
}
.contact .contactUs form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.contact .contactUs form input, .contact .contactUs form textarea {
  width: 500px;
  margin: 10px;
  padding: 10px;
  outline: none;
  background-color: white;
  color: #333333;
}
.contact .contactUs form .button {
  background-color: #30CB0E;
  border: 1px solid #30CB0E;
  padding: 10px 20px;
  font-size: 1rem;
  width: 150px;
}
.contact .contactUs form .button:hover {
  color: #30CB0E;
  background-color: black;
  border: 1px solid #30CB0E;
}
.contact .contactUs .info {
  display: flex;
  flex-direction: column;
}
.contact .contactUs .info a {
  cursor: pointer;
}
.contact .contactUs .info a i {
  padding: 10px;
  font-size: 30px;
}
.contact .contactUs .info a:hover {
  color: #30CB0E;
}

@media (max-width: 900px) {
  .sideBar {
    transform: 0.3s all;
    left: -250px;
  }
  .sideBar .bar {
    display: block;
  }

  .show {
    left: 0;
  }

  .content {
    margin: 0;
  }

  .Certifications {
    height: 100%;
  }
  .Certifications div {
    max-width: 100%;
    margin: 5px;
    min-height: 250px;
  }

  .skils {
    height: 100%;
  }
  .skils .Myskils {
    justify-content: center;
  }
  .skils .Myskils div {
    margin: 5px;
  }

  .portfolio {
    height: 100%;
  }
  .portfolio .port div {
    width: 100% !important;
    margin: 5px;
  }

  .contact {
    height: 100%;
  }
  .contact .contactUs {
    justify-content: start;
    align-items: flex-start;
  }
  .contact .contactUs form {
    width: 500px;
  }
  .contact .contactUs form input, .contact .contactUs form textarea {
    width: 100%;
  }
}

/*# sourceMappingURL=globals.css.map */
