@import './vars';
.links {
    position: relative;
    color: white !important;
    padding: 10px;
    i{
        padding: 10px;

    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary_color;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }
      &:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
        color: white !important;

      }
  }

.social{
    font-size: 35px;
    margin: 10px;
    &:hover{
        color: $primary_color;
    }
}

.buttons {
    background-color: $primary_color;
    border: 1px solid $primary_color;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px 0;
    a{
      color: black;
    }
    &:hover {
      color: $primary_color;
      background-color: black;
      border: 1px solid $primary_color;
      a{
        color: rgb(255, 255, 255);
      }
    }
  }
  
  
  
  